@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Outfit:wght@300;400;600&family=Poppins:wght@400;500;600;700&family=Public+Sans:wght@200;400&display=swap');

.form-title{
  /* border: 2px solid black; */
  text-align: center;
  font-family: sans-serif;
  color: rgb(84, 86, 81, 1);
  margin-top: 10px;
  padding: 10px 10px;
}

.formForecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.form-container {
  /* border: 3px solid red; */
  border-radius: 20px;
  width: 500px;
}
.field-group {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
  font-family: 'Public Sans', sans-serif;
  color: rgb(84, 86, 81, 1);
}
.field-group select{
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(84, 86, 81, 1);
  color: black;
  font-weight: bold;
  padding: 1px 10px;
}
.field-group input[type=number] {
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(84, 86, 81, 1);
  color: black;
  font-weight: bold;
}

.field-button {
  text-align: right;
}
.form-container button{
  cursor: pointer;
  border: none;
  background-color: rgb(84, 86, 81, 1);
  border-radius: 10px;
  height: 35px;
  width: 100px;
  color: white;
  font-family: 'Public Sans', sans-serif;
  transition-duration: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-container button:hover {
  /* background-color: #357439; */
  background-color: rgb(103, 133, 61);;
}

.forecast-container {
  /* border: 3px solid red; */
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
  font-family: 'Public Sans', sans-serif;
  color: rgb(84, 86, 81, 1);
  height: 214px;
  width: 400px;
}